@media (min-width: 375px) {
  div.card {
    width: 384px;
  }

  h1 {
    font-size: $tamano-24px;
  }
  .contenido {
    p {
      font-size: $tamano-16px;
    }
  }

  .chip {
    font-size: $tamano-14px;
  }
}
