// color

$color-amarillo: #f4d04e;
$color-negro: #111111;
$color-gris: #6b6b6b;
$color-blanco: white;

// tipografia

$tipografia: "Figtree", serif;

// tamaño

$tamano-12px: 12px;
$tamano-16px: 16px;
$tamano-14px: 14px;
$tamano-20px: 20px;
$tamano-24px: 24px;

// Space

$space-4px: 4px;
$space-8px: 8px;
$space-12px: 12px;
$space-24px: 24px;
